<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="black_page.config.form" factory-method="createNamed" factory-service="form.factory" class="Symfony\Component\Form\Form">
            <argument>%black_page.config.form.page_config_name%</argument>
            <argument type="service" id="black_page.config.form.type" />
            <argument>null</argument>
        </service>

        <service id="black_page.config.form.type" class="%black_page.config.form.page_config_type%">
            <argument>%black_engine.config.model.class%</argument>
            <tag name="form.type" alias="black_page_page" />
        </service>

        <service id="black_page.config.form.handler" class="%black_page.config.form.page_config_handler%" scope="request" public="true">
            <argument type="service" id="black_page.config.form" />
            <argument type="service" id="request" />
            <argument type="service" id="session" />
            <argument type="service" id="doctrine_mongodb" />
        </service>
    </services>
</container>
