<!-- Breadcrumbs line -->
<div class="breadLine">
    <div class="bc">
        <ul id="breadcrumbs" class="breadcrumbs">
            <li><a href="{{ url('admin_index') }}">{% trans %}admin.dashboard.title{% endtrans %}</a></li>
            <li class="current"><a href="{{ url('admin_page') }}">{% trans %}page.admin.breadcrumb{% endtrans %}</a></li>
        </ul>
    </div>

    <div class="breadLinks">
        <ul>
            <li class="has">
                <a title="">
                    <i class="icos-money3"></i>
                    <span>{% trans %}admin.shortcut{% endtrans %}</span>
                    <span><img src="/bundles/blackadmin/images/elements/control/hasddArrow.png" alt="" /></span>
                </a>
                <ul>
                    <li><a href="{{ path(route) }}" title=""><span class="icos-add"></span>{{ text|trans() }}</a></li>
                </ul>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>