{% extends 'BlackPageBundle:AdminPage:base.html.twig' %}

{% block page_content %}
<form id="validate" class="main grid9" action="{{ path('admin_page_batch') }}" method="post">
    <div class="fluid">
        <div class="widget check">
            <div class="whead">
                <span class="titleIcon"><input type="checkbox" id="titleCheck" name="titleCheck" /></span>
                <h6>{% trans from "views" %}black.bundle.page.adminPage.index.text{% endtrans %}</h6>
                <div class="clear"></div>
            </div>

            {% include 'BlackPageBundle:AdminPage:table.html.twig' with {'keys': keys, 'csrf': csrf} %}
        </div>
    </div>
</form>
{% endblock %}
