{% extends 'BlackPageBundle:AdminPage:base.html.twig' %}
{% block content_top %}
    {% include 'BlackAdminBundle:Admin:contentTop.html.twig' with {'title': "page.admin.contentTop.new.text"} %}
{% endblock %}
{% block page_content %}
<div class="fluid">

    <form id="validate" class="main" action="{{ path(admin_new) }}"  method="post" {{ form_enctype(form) }}>

        {% include 'BlackPageBundle:AdminForm:fieldset.html.twig' with {'form': form, 'title': 'page.admin.new.page.txt'} %}

        {% include 'BlackAdminBundle:AdminForm:actions.html.twig' %}
    </form>

</div>
{% endblock %}