{% extends 'BlackAdminBundle::base.html.twig' %}
{% block body %}

    {% include 'BlackAdminBundle:Admin:header.html.twig' %}
    {% include 'BlackAdminBundle:Admin:sidebar.html.twig' %}
    {% include 'BlackPageBundle:AdminPage:sidebar.html.twig' %}

    {% set title = "Create a new page" %}
    {% set admin_index = 'admin_page' %}
    {% set admin_delete = 'admin_page_delete' %}

    <div id="content">
        {% include 'BlackAdminBundle:Admin:contentTop.html.twig' with {'title': "New page"} %}
        {% include 'BlackPageBundle:AdminPage:breadLine.html.twig' with {'route': 'admin_page_new', 'text': "New page"} %}

        <!-- Main content -->
        <div class="wrapper">

            {% include 'BlackAdminBundle:AdminForm:errors.html.twig' with {'form': form} %}
            {% include 'BlackAdminBundle:Admin:flashes.html.twig' with {'flashes': app.session.FlashBag()} %}

            <div class="fluid">

                <form id="validate" class="main" action="{{ path('admin_page_new') }}"  method="post" {{ form_enctype(form) }}>

                    {% include 'BlackPageBundle:AdminForm:fieldset.html.twig' with {'form': form} %}

                    {% include 'BlackAdminBundle:AdminForm:actions.html.twig' %}
                </form>

            </div>

        </div>
    </div>

{% endblock %}