{% set currentPath = '' %}

<div class="secNav">
    <div class="secWrapper">
        <div class="secTop">
            <div class="balance">
                <div class="balInfo">{% trans from "views" %}page.admin.sidebar.pages.text{% endtrans %}</div>
            </div>
        </div>

        <div id="tab-container" class="tab-container">

            <ul class="iconsLine ic3 etabs" style="display: none;">
                <li><a href="#general" title=""><span class="icos-fullscreen"></span></a></li>
                <li><a href="#alt1" title=""><span class="icos-user"></span></a></li>
                <li><a href="#alt2" title=""><span class="icos-archive"></span></a></li>
            </ul>

            <div class="divider"><span></span></div>


            <div id="general">
                <ul class="subNav">
                    <li>
                        <a href="{{ path('admin_page') }}" title="{% trans from "views" %}page.admin.sidebar.pages.a.title{% endtrans %}" {% if currentPath == path('admin_page') %}class="this"{% endif %}>
                            <span class="icos-list2"></span>{% trans from "views" %}page.admin.sidebar.pages.a.text{% endtrans %}
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <div class="clear"></div>
</div>
</div>
{#  Sidebar ends  #}