{% extends 'BlackPageBundle:Page:base.html.twig' %}

{% block body %}
    <header>
        <h2>Create Page</h2>
    </header>

    <form id="validate" class="main" action="{{ path('page_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
    </form>

{% endblock %}
