{% extends 'BlackMenuBundle:Menu:base.html.twig' %}

{% set path = path is defined ? path : '' %}

{% block body %}
    <header>
        <h2>Page Show</h2>
    </header>

    {% if document %}
        {% include 'BlackPageBundle:Page:content.html.twig' %}
    {% endif %}

{% endblock %}
