{% extends 'BlackMenuBundle:Menu:base.html.twig' %}

{% block body %}
    <header>
        <h2>Page update</h2>
    </header>

    <form id="validate" class="main" action="{{ path('page_update', { 'value': document.id }) }}"
          method="post" {{ form_enctype(form) }}>

    {{ form_rest(form) }}

    </form>
{% endblock %}
