{% extends 'BlackAdminBundle::base.html.twig' %}
{% block body %}

    {% include 'BlackAdminBundle:Admin:header.html.twig' %}
    {% include 'BlackAdminBundle:Admin:sidebar.html.twig' %}
    {% include 'BlackEngineBundle:AdminConfig:sidebar.html.twig' %}

    <div id="content">
        {% include 'BlackAdminBundle:Admin:contentTop.html.twig' with { 'title': "engine.admin.config.general.title"} %}
        {% include 'BlackEngineBundle:AdminConfig:breadLine.html.twig' with {'route': 'admin_config_new', 'text': "engine.admin.config.shortcut"} %}

        <!-- Main content -->
        <div class="wrapper">

            {% include 'BlackAdminBundle:AdminForm:errors.html.twig' with {'form': form} %}
            {% include 'BlackAdminBundle:Admin:flashes.html.twig' with {'flashes': app.session.FlashBag()} %}

            <div class="fluid">

                <form id="validate" novalidate class="main grid9" action="{{ path('admin_config_page') }}" method="post" {{ form_enctype(form) }}>
                    {% include 'BlackAdminBundle:AdminForm:fieldset.html.twig' with {'form': form, 'title': "page.admin.config.form.page.title"} %}
                </form>

                <div class="grid3">
                    <div class="widget">
                        <div class="whead"><h6>{% trans %}admin.actions{% endtrans %}</h6><div class="clear"></div></div>
                        <div class="body">
                            <input type="submit" value="{% trans %}admin.action.update{% endtrans %}" form="validate" class="buttonM bGreen floatL" /><div class="clear"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}
