{% extends 'BlackConfigBundle:AdminConfig:base.html.twig' %}

{% block content_top %}
    {% include 'BlackAdminBundle:Admin:contentTop.html.twig' with {'title': "black.bundle.page.adminConfig.page.contentTop.config.page.text"} %}
{% endblock %}

{% block page_content %}
<div class="fluid">
    <form id="validate" novalidate class="main" action="{{ path('admin_config_page') }}" method="post" {{ form_enctype(form) }}>
        {% include 'BlackAdminBundle:AdminForm:fieldset.html.twig' with {'form': form, 'title': "page.admin.fieldset.config.text"} %}
    </form>
</div>
{% endblock %}
