{% set action = document.id ? 'edit' : 'new' %}

<div class="grid3">
    <div class="widget">
        <div class="whead"><h6>{% trans from "views" %}page.admin.actions.text{% endtrans %}</h6><div class="clear"></div></div>
        <div class="body">
            <input type="submit" value="{% if action == "edit" %}{% trans from "form" %}page.admin.actions.edit.submit.value{% endtrans %}{% else %}{% trans from "form" %}page.admin.actions.create.submit.value{% endtrans %}{% endif %}" form="validate" class="buttonM bGreen floatL" />

            {% if action == 'edit' %}
            <form action="{{ path(admin_delete, { 'id': document.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit" class="buttonM bRed floatR">{% trans from "form" %}page.admin.actions.delete.submit.value{% endtrans %}</button><div class="clear"></div>
            </form>
            {% endif %}

            {% if action == 'new' %}
            <a class="buttonM bBlue floatR" href="{{ path(admin_index) }}">{% trans from "views" %}page.admin.actions.back.text{% endtrans %}</a><div class="clear"></div>
            {% endif %}
        </div>
    </div>
</div>